<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="STORETYPEVERSION" value="6.10.4"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${PERL}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="${env_var:EPAGES_CARTRIDGES}/DE_EPAGES/Installer/Scripts/copyCartridgeData.pl ${string_prompt:Cartridge:${COMPANY}::${project_name}} -storename ${string_prompt:STORE=:${env_var:EPAGES_TESTSITE}} -storetype ${string_prompt:STORETYPE=:Store} -type ${string_prompt:TYPE=Private Public WebRoot javascript binary all StoreTypeRoot:Public}"/>
</launchConfiguration>
